{% translate_default_domain 'racehuman-module' %}

{{ 'section.choose.select'|t({
    'city': city,
    'openLink': '<a href="' ~ ('newday.php?setrace=' ~ race ~ resLine)|lotgd_url ~ '">',
    'closeLink': '</a>'
})|colorize }}</a>
