{% trans_default_domain 'module_specialtythiefskills' %}

<a href="{{ ('newday.php?setspecialty=' ~ spec ~ resLine)|lotgd_url }}">{{ 'section.choose.select'|trans|colorize }} ({{ '%s%s`0'|format(colorCode, 'specialty.name'|trans)|colorize }})</a><br>
