{% trans_default_domain 'module_specialtydarkarts' %}

<a href="{{ ('newday.php?setspecialty=' ~ spec ~ resLine)|lotgd_url }}">{{ 'section.choose.select'|t|colorize }} ({{ '%s%s`0'|format(colorCode, 'specialty.name'|t)|colorize }})</a><br>
