{% trans_default_domain textDomain %}

<div class="center aligned green text">***</div>
<div class="center aligned">
    {{ 'section.newday.paragraph'|t(_context)|colorize }}
</div>
<div class="center aligned green text">***</div>
