{% translate_default_domain textDomain %}

{% if isLaminas %}
    {% if formTypeTab %}
        {{ laminas_form_tab(form) }}
    {% else %}
        {{ laminas_form(form) }}
    {% endif %}
{% else %}
    <form action="{{ 'runmodule.php?module=cityprefs&op=editmodulesave&cityid=' ~ cityId ~ '&mdule=' ~ module }}" method="POST" autocomplete="off">
        {{ form }}
    </form>
{% endif %}
