{% trans_default_domain textDomain %}

{{ 'section.default.paragraph'|trans(_context)|colorize }}

<br>

<form action="{{ 'runmodule.php?module=mechanicalturk&creatureaction=save'|lotgd_url }}" method="post">
    {{ form }}
</form>
