{% trans_default_domain textDomain %}

{{ 'section.hook.newday.numbers'|trans(_context)|colorize }}

{% if winner %}
    <span class="ui big text">{{ 'section.hook.newday.win'|trans(_context)|colorize }}</span>
    {{ 'section.hook.newday.jackpot'|trans(_context)|colorize }}
{% endif %}
