{% translate_default_domain textDomain %}

<form action="{{ ('runmodule.php?module=drinks&act=editor&op=save&admin=true&drinkid=' ~ drink.id)|lotgd_url }}" method="POST" class="ui form">
    {{ form }}
</form>

<br>
{{ 'editor.section.edit.legend'|t(_context)|colorize }}
