{% translate_default_domain textDomain %}

<form action="{{ ('runmodule.php?module=drinks&act=editor&op=save&admin=true&drinkid=' ~ drink.id)|lotgd_url }}" method="POST" class="ui form">
    {{ form }}
</form>

        output('`$NOTE:`7 Make sure that you know what you are doing when modifying or adding drinks.`n');
        output("Just because the drinks have a lot of options, doesn't mean you have to use all of them`n`n");
        output('`2Drink ID: `7This field is used internally and should be unique.`n');
        output('`2Name: `7The name of the drink the user will see.`n');
        output('`2Cost per level: `7This value times the users level is the drink cost.`n');
        output('`2Chance of modifying HP: `7If set, this is the number of chances out of the total of this and the turn chance for HP getting modified.`n');
        output('`2Chance of modifying turns: `7If set, this is the number of chances out of the total of this and the HP chance for turns getting modified.`n');
        output('`2Always modify HP: `7If set, hitpoints will be modified.  Should not be set alongside HP chance above.`n');
        output('`2Always modify turns: `7If set, turns will be modified.  Should not be set alongside turn chance above.`n');
        output('`2Drunkeness: `7How drunk will this make the player.`n');
        output('`2Hard Drink: `7Users are only allowed a certain number of hard drinks per day regardless of drunkeness.`n');
        output("`2Min HP to add: `7If we are modifying hitpoints, and if HP percent isn't set, use this and the HP max value to pick a random amount of HP to add.  Can be negative.`n");
        output("`2Max HP to add: `7If we are modifying hitpoints and if HP percent isn't set, use this and the HP min value to pick a random amount of HP to add.  Can be negative.`n");
        output('`2HP percent: `7If we are modifying hitpoints and if this is set, the users hitpoints are modified by this percentage.  Can be negative.`n');
        output('`2Min turns to add: `7If we are modifying turns, use this and the turn max value to pick a random amount of turns to add.  Can be negative.`n');
        output('`2Max turns to add: `7If we are modifying turns, use this and the turn min value to pick a random amount of turns to add.  Can be negative.`n');
        output('`2Remarks: `7Text displayed to the user when they order the drink.`n');
        output('`2Buff name: `7What is this buff called.`n');
        output('`2Buff rounds: `7How many rounds this buff lasts.`n');
        output('`2Buff round message: `7What message should show as each round occurs.`n');
        output('`2Buff wearoff: `7What message is shown when this buff wears off.`n');
        output('`2Buff attack modifier: `7Multiplier to modify attack points by? 1.0 is no modification, 2.0 doubles their attack points.`n');
        output('`2Buff defense modifier: `7Multiplier to modify defense points by? 1.0 is no modification, 2.0 doubles their defense points.`n');
        output('`2Buff damage modifier: `7Multiplier to modify damage by? 1.0 is no modification, 2.0 doubles their damage points. This is `$VERY POTENT`7!`n');
        output('`2Buff damage shield modifier: `7When you are hit, deals damage to your opponent based on damage done to you. 1.0 deals identical damage, 2.0 deals double damage back to the opponent.`n');
        output('`2Effect failure message: Message if this buff fails. (Only used with damage shield)`n');
        output('`2Effect no damage message: Message if no damage is done. (Only used with damage shield)`n');
        output('`2Effect message: What shows when this buff has an effect. (Only used with damage shield)`n`n');
