{% translate_default_domain textDomain %}

<style type='text/css'>
    .tutor {
        background-color: #444444;
        border-color: #0099ff;
        border-style: double;
        border-width: medium;
        color: #CCCCCC;
    }
    .tutor .colDkBlue	{ color: #0000B0; }
    .tutor .colDkGreen   { color: #00B000; }
    .tutor .colDkCyan	{ color: #00B0B0; }
    .tutor .colDkRed	 { color: #B00000; }
    .tutor .colDkMagenta { color: #B000CC; }
    .tutor .colDkYellow  { color: #B0B000; }
    .tutor .colDkWhite   { color: #B0B0B0; }
    .tutor .colLtBlue	{ color: #0000FF; }
    .tutor .colLtGreen   { color: #00FF00; }
    .tutor .colLtCyan	{ color: #00FFFF; }
    .tutor .colLtRed	 { color: #FF0000; }
    .tutor .colLtMagenta { color: #FF00FF; }
    .tutor .colLtYellow  { color: #FFFF00; }
    .tutor .colLtWhite   { color: #FFFFFF; }
    .tutor .colLtBlack   { color: #999999; }
    .tutor .colDkOrange  { color: #994400; }
    .tutor .colLtOrange  { color: #FF9900; }
</style>

<div class='tutor'>
    {{ message[0]|t(message[1])|colorize }}
</div>

<br>
