{% trans_default_domain textDomain %}

{% set styleWidth = 'style="width:' ~ healthPercent ~ '%;"' %}
{% set color = 'bg-green-600' %}

{% if healthPercent < 60 %}
    {% set barIcon = '<i class="orange heart icon animated pulse"></i>' %}
    {% set color = 'bg-orange-600' %}
{% elseif healthPercent < 25 %}
    {% set baricon = '<i class="red heartbeat icon animated flash infinite"></i>' %}
    {% set color = 'bg-red-600' %}
{% endif %}

<div class="h-5 w-full bg-gray-500 relative rounded overflow-hidden">
    <div id="module-healthbar-progress" class="absolute h-5 {{ color }}" {{ styleWidth }}></div>
    {% if showLabel %}
        <div id="module-healthbar-timer" class="absolute h-5 w-full text-center text-yellow-100 whitespace-nowrap text-sm">
            {% if showCurrent %}
                {{ '`&%s`0'|format(healthCurrent|numeral)|colorize }}
            {% endif %}
            {% if showCurrent and showMax %}
                {{ '/`&%s`0'|format(healthRealMax|numeral)|colorize }}
            {% endif %}
        </div>
    {% endif %}
</div>
