{% translate_default_domain textDomain %}

{% if isLaminas %}
    {% if formTypeTab %}
        {{ laminas_form_tab(form) }}
    {% else %}
        {{ laminas_form(form) }}
    {% endif %}
{% else %}
    <form action="{{ 'runmodule.php?module=drinks&act=editor&op=edit&subop=module&editmodule=' ~ module ~ '&drinkid=' ~ drinkid ~ '&admin=true' }}" method="POST" autocomplete="off">
        {{ form }}
    </form>
{% endif %}
